{{ $root := . }}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{- if $root.RequestReport -}}
            {{ $root.ReportTitle }} audit report "{{ $root.RequestReport }}"
        {{- else -}}
            Azure Auditor
        {{- end -}}</title>

    <link rel="stylesheet" nonce="{{ .Nonce }}" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" nonce="{{ .Nonce }}" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.2/css/tabulator_bootstrap5.min.css" integrity="sha512-ufdFnm79p9yDWryD5QRWrdTpUYnAOYCx6N11AWpgINpAjY+c/xti5F7OcO0Oq57EA0M33qBZnABnTaRDukxeMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style nonce="{{ .Nonce }}">{{ include "report.css" . | rawCss }}</style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-left">
    <h1>
        <a class="navbar-brand" href>Azure Auditor <small>v{{ version }}</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReport"
                aria-controls="navbarReport" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </h1>

    <div class="collapse navbar-collapse" id="navbarReport">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled">Azure Reports</a>
                <ul class="navbar-nav">
                    {{- range $ReportName, $report := .Reports -}}
                        {{- if not (hasPrefix "ResourceGraph" $ReportName) -}}
                        {{- if not (hasPrefix "LogAnalytics" $ReportName) -}}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ $root.ServerPathReport }}?report={{ $ReportName }}">{{ $ReportName }} <span class="badge bg-success {{if eq $report.Summary.Ok 0 }}badge-disabled{{end}}">{{ $report.Summary.Ok }}</span> <span class="badge bg-danger {{if eq $report.Summary.Failed 0 }}badge-disabled{{end}}">{{ $report.Summary.Failed }}</span></a>
                        </li>
                        {{- end -}}
                        {{- end -}}
                    {{- end -}}
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">ResourceGraph reports</a>
                <ul class="navbar-nav">
                    {{- range $ReportName, $report := .Reports -}}
                        {{- if (hasPrefix "ResourceGraph" $ReportName) -}}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ $root.ServerPathReport }}?report={{ $ReportName }}">{{ trimPrefix "ResourceGraph:" $ReportName }} <span class="badge bg-success {{if eq $report.Summary.Ok 0 }}badge-disabled{{end}}">{{ $report.Summary.Ok }}</span> <span class="badge bg-danger {{if eq $report.Summary.Failed 0 }}badge-disabled{{end}}">{{ $report.Summary.Failed }}</span></a>
                        </li>
                        {{- end -}}
                    {{- end -}}
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled">LogAnalytics reports</a>
                <ul class="navbar-nav">
                    {{- range $ReportName, $report := .Reports -}}
                    {{- if (hasPrefix "LogAnalytics" $ReportName) -}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ $root.ServerPathReport }}?report={{ $ReportName }}">{{ trimPrefix "LogAnalytics:" $ReportName }} <span class="badge bg-success {{if eq $report.Summary.Ok 0 }}badge-disabled{{end}}">{{ $report.Summary.Ok }}</span> <span class="badge bg-danger {{if eq $report.Summary.Failed 0 }}badge-disabled{{end}}">{{ $report.Summary.Failed }}</span></a>
                    </li>
                    {{- end -}}
                    {{- end -}}
                </ul>
            </li>

            <li class="nav-item nav-item-settings global-settings">
                <a class="nav-link disabled">Settings</a>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="0" id="showConfig" data-setting-name="show-config">
                    <label class="form-check-label" for="showConfig">
                        Show config
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="saveFilterSettings" data-setting-name="save-filter-settings">
                    <label class="form-check-label" for="saveFilterSettings">
                        Save filter/settings
                    </label>
                </div>
            </li>

        </ul>
    </div>
</nav>

<main class="container-xxl">
    <div class="bg-light p-5 rounded">

        <div class="row">
            <div class="col" id="report-title">
                <h2>{{if $root.RequestReport}}{{ $root.ReportTitle }} report "{{ $root.RequestReport }}"{{else}}Azure Auditor{{end}}</h2>
            </div>
            <div class="col text-end toolbar">
                <button type="button" class="btn btn-secondary" id="report-print">Print</button>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownReportDownload" data-bs-toggle="dropdown" aria-expanded="false">
                        Download
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownReportDownload">
                        <li><a class="dropdown-item" id="report-download-csv">csv</a></li>
                        <li><a class="dropdown-item" id="report-download-json">json</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {{if $root.RequestReport }}
            <div class="mb-3 row audit-config hide-print">
                <h3 id="config">Config</h3>
                {{if $root.ReportConfig }}<pre class="code">{{ $root.ReportConfig | toYaml }}</pre>{{end}}
            </div>

            <div class="mb-3 row">
                <form id="report-form">
                    <div class="row g-6">
                        <div class="col-md-6"><h3>Filter</h3></div>
                        <div class="col-md-6"><h3>Settings</h3></div>
                    </div>

                    <div class="row g-6">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="reportFilterStatus">Status</label>
                                <select class="form-select" id="reportFilterStatus" data-report-refresh="true" data-report-param="status" data-default="deny">
                                    <option value="">all</option>
                                    <option value="deny" selected>deny</option>
                                    <option value="allow">allow</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="reportFilterResourceLabel">Resource</span>
                                <textarea class="form-control" id="reportFilterResource" data-report-filter="resource" aria-label="Resource" aria-describedby="reportFilterResourceLabel" rows="2" data-default="{{ $root.ReportConfig.Report.Filter.Resource }}"></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="reportFilterRuleLabel">Rule</span>
                                <input type="text" class="form-control" id="reportFilterRule" data-report-filter="rule" aria-label="Rule" aria-describedby="reportFilterRuleLabel" data-default="{{ $root.ReportConfig.Report.Filter.Rule }}">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="reportGroupByLabel">groupBy</span>
                                <input type="text" class="form-control" id="reportGroupBy" data-report-refresh="true" data-report-param="groupBy" aria-label="groupBy" aria-describedby="reportGroupByLabel" data-default="{{ $root.ReportConfig.Report.Settings.GroupBy }}">
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="reportFieldsLabel">Fields</span>
                                <textarea class="form-control" id="reportFields" data-report-refresh="true" data-report-param="fields" aria-label="Fields" rows="4" data-default="{{ $root.ReportConfig.Report.Settings.Fields }}"></textarea>
                            </div>
                        </div>
                    </div>
                </form>


                <div>

                    <div class="row">
                        <div class="col">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary" id="report-group-expand">Expand all</button>
                                <button type="button" class="btn btn-secondary" id="report-group-collapse">Collapse all</button>
                            </div>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-secondary" id="report-reset">Reset filter/settings</button>
                            <button type="button" class="btn btn-primary" id="report-reload">Reload</button>
                        </div>
                    </div>

                    <div id="report-time" class="text-end">
                        Last report update: <span class="time">unknown</span>
                    </div>
                </div>
                <div id="report-table"></div>
            </div>
        {{else}}
            <div class="mb-3 row">
                <div class="alert alert-warning" role="alert">
                    No report selected
                </div>
            </div>
        {{end}}

    </div>
</main>

<script nonce="{{ .Nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nonce="{{ .Nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nonce="{{ .Nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nonce="{{ .Nonce }}" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.4.2/js/tabulator.min.js" integrity="sha512-l597Xpz0VFtCrB9DJwOTrxj2boDwk/dLrGGx1XVWCzmoFWEU+1G2Tpsud4Tw6IzH4nIKerjYp8lSFPVVecKXkA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script nonce="{{ .Nonce }}">
jQuery( document ).ready(function($) {
    {{ include "report.js" . | rawJs }}
});
</script>

</body>
</html>
